        * {
           margin: 0;
           padding: 0;
           box-sizing: border-box; 
        }
        
        
            body {
                font-family: Arial, Sans-serif;
                background-color: #afaaaa;
            }


            .site-header, .container {
                display: flex;
                justify-content: center;
                align-items: center;
            }


            .site-header, .site-footer {
                background-color:rgb(122, 119, 114);
                margin: 1px;
                padding: 1px;
                text-align: center;

            }

            .site-main {
                margin: 10px;
                padding: 10px;
                font-family: Arial, Sans-serif;
            }


            .site-header nav {
                display: flex;
                gap: 15px;
            }

            .site-header nav a {
                text-decoration: none;
                color: #333;
                font-weight: 500;
            }
