        * {
           margin: 0;
           padding: 0;
           box-sizing: border-box; 
        }
        
        
            body {
                font-family: Arial, Sans-serif;
                background-color: #afaaaa;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

            }


            .container {
                max-width: 1200px;
                margin: 0 auto;
                padding:0 20px;
            }

            .site-header {
                padding: 5px 0;
                background-color: rgb(122, 119, 114);
            }

            .site-header .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }


            .site-footer {
                text-align: center;
                padding: 10px 0;
                background-color: rgb(122, 119, 114)
            }

            .site-header, .site-footer {
                background-color:rgb(122, 119, 114);
                margin: 0;
                padding: 5px;
                text-align: center;

            }

            .site-main {
                flex: 1;
                margin: 10px;
                padding: 10px;
                font-family: Arial, Sans-serif;
            }


            .site-header nav {
                display: flex;
                gap: 20px;
            }

            .site-header nav a {
                text-decoration: none;
                color: #222;
                padding: 6px 10px;
                border-radius: 6px;
                transition: background-color 0.2s ease, color 0.2s ease;
                font-weight: 500;
            }

            .site-header nav a:hover {
                background-color: #222;
                color: #000;
            }